<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div class="container container-lg">
    <div class="panel panel-primary panel-page-header">
        <div class="panel-body">
            <div class="content">
                <h2><span th:text="#{site.manage.users}"></span></h2>
                <p>
                    <span th:text="#{site.headingTxt.user.management}"></span>
                </p>

                <a class="btn btn-success" ng-click="createUser()" style="margin-left: 0px;">
                    <span th:text="#{site.create.user}"></span>
                </a>

            </div>
        </div>
    </div>


    <div class="panel panel-primary panel-widget">
        <div class="panel-heading" ng-hide = "searching">
            <h3 class="panel-title">
                <span th:text="#{site.list.of.users}"></span>
            </h3>
        </div>

        <div class="panel-heading" ng-show = "searching">
            <h3 class="panel-title">
                <span th:text="#{site.search.results}"></span>

                <span class="panel-options">
                <a href="#/" class="panel-refresh">
                    <i class="fa fa-refresh"></i>
                </a>
            </span>
            </h3>
        </div>

        <div class="panel-body">
            <div id="userGrid"></div>
        </div>
    </div>

</div>
</html>
